#gameboard {
    display: flex;
    justify-content: space-evenly;
    width: 75vw;
    justify-self: center;
    margin: auto;
}

#gameboard > div {
    border: solid 2px black;
    min-width: 600px;
    min-height: 600px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

}

.grid-square {
    width: 58px;
    height: 58px;
}

.empty-square {
    background-color: skyblue;
}

.player-ship {
    background-color: green;
}

.hit-square {
    background-color: red;
}

.missed-square {
    background-color: gray;
}

#computerboard .empty-square:hover {
    background-color: aqua;
}